.entire_application {
    -fx-background-image: url('../../../images/background.png');
    -fx-background-size: 4000, 1080;
    -fx-background-position: center center;
    -fx-background-repeat: stretch;
}

